/* _content/Computer-Mart/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7gd3cq1l0y] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7gd3cq1l0y] {
  color: #0077cc;
}

.btn-primary[b-7gd3cq1l0y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7gd3cq1l0y], .nav-pills .show > .nav-link[b-7gd3cq1l0y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7gd3cq1l0y] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7gd3cq1l0y] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7gd3cq1l0y] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7gd3cq1l0y] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7gd3cq1l0y] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Computer-Mart/Views/Shared/_Layout2.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-luun06ycn6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-luun06ycn6] {
  color: #0077cc;
}

.btn-primary[b-luun06ycn6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-luun06ycn6], .nav-pills .show > .nav-link[b-luun06ycn6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-luun06ycn6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-luun06ycn6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-luun06ycn6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-luun06ycn6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-luun06ycn6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Computer-Mart/Views/Shared/_Layout3.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-sdgx7esen3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-sdgx7esen3] {
  color: #0077cc;
}

.btn-primary[b-sdgx7esen3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-sdgx7esen3], .nav-pills .show > .nav-link[b-sdgx7esen3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-sdgx7esen3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-sdgx7esen3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-sdgx7esen3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-sdgx7esen3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-sdgx7esen3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
